*.o
*.a
*.so
*.out
*.tar.*
*.pot
*.mo

*.zip
*.gz
*.xz
*.bz2
*.lz
*.zst
*.zstd
*.Z

*.tgz
*.txz
*.tbz2
*.tlz
*.tzst
*.tz

*.pch
*.gch

/rel/
/obj/
/.build/
/.bld/
/build/
/bld/
/_build/
/_bld/

# mkdocs
_site/
.site/

deps/
stage

subprojects/CLI11-2.6.1/
subprojects/libucl/
subprojects/packagecache/
subprojects/.wraplock

confidant
confidant.static

result

# clangd
/.cache/
/compile_commands.json

# scratch
test.cpp
testing/
.config/
/confidant.ucl