# SPDX-FileCopyrightText: 2026 Will Reed <wreed@disroot.org>
# SPDX-License-Identifier: GPL-3.0-or-later

[submodule "aur"]
	path = misc/packaging/aur
	url = ssh://aur@aur.archlinux.org/confidant.git
	branch = master
